<div class="new-review--frame">
  <% if signed_in? %>
    <h4 class="new-review--header">Add a review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <p>
        <%= f.label :body, "Comments" %><br>
        <%= f.text_area :body %>
      </p>
      <div class="new-review--rating">
        <p>
          <%= f.label :rating %><br>
          <div class="rating"></div>
        </p>
      </div>
      <p>
        <%= f.submit "Submit", class: "btn btn-default" %>
      </p>
    <% end %>
  <% end %>
</div>