<tr>
  <td class="product_column"><%= product.name %></td>
  <td class="product_column"><%= product.description %></td>
  <td class="product_column"><%= product.image_url %></td>
  <td class="product_column"><%= product.colour %></td>
  <td class="product_column"><%= product.price %></td>
  <td>
    <div class="btn-group btn-group-tools">
      <%= link_to 'Show', product, :class => "btn btn-default" %>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Show', product %></li>
        <li><%= link_to 'Edit', edit_product_path(product) %></li>
        <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </td>
</tr>