<div class="width_frame review_bottom">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="show_room">
      <%= image_tag @product.image_url, :'data-action' => 'zoom' %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p class="unit-float">
        <strong>Price:</strong>
        <%= @product.price %> <p>€</p>
      </p>

      <p>
        <strong>Average Rating:</strong>
        <span class="rated" data-score="<%= @product.average_rating %>"></span>
      </p>
      
      <%= form_tag '/payments/create' do %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>

    </div>

  </div>
  
  
  

  <div class="btn-group-frame">
    <div class="btn-group" role="group">
      <%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-default" %>
      <%= link_to 'Back', products_path, :class => "btn btn-default" %>
    </div>
  </div>


  <%= render 'new_comment' %>
<div id="product-review-comments">
</div>
  <%= render 'product_reviews' %>
  
</div>